*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.navigationMenu{
    display: flex;
    justify-content: space-between;
    padding: 22px 12px;
    position: sticky;
    top: 0;
    z-index: 5;
    color: #ffffff;
    background-color: rgba(37, 31, 31, 0.925)
}

.navigationMenu h2 span{
    color: green
}
.navagationItems{
    display: flex;
    gap: 20px;
}
.navagationItems li{
    list-style: none;
}
.navagationItems a{
    text-decoration: none;
    color: #ffffff;
    padding: 12px 16px;
    transition: all .3s;
}
.navagationItems a:hover{
    text-decoration: underline;
}

@media only screen and (max-width:860px) {
    .navagationItems{
        /* flex-direction: column; */
        margin-top: 7%;
    }

    .navigationMenu{
      flex-direction: column;
    
      align-items: center;
    }
}

@media only screen and (max-width:660px) {
    .navagationItems{
        flex-direction: column;
        margin-top: 7%;
       
        display: none;
    }
}

/* Home Section */

.homeSection{
    font-size:xx-large;
    padding: 26px 26px;
    /* margin: 10px 12px; */
    height: 100vh;
   
    background-image: url("./creative-geometric-design-space_53876-89787.avif");
    background-size: cover;
    background-attachment: fixed;
    background-position: left bottom;

    position: relative;
    z-index: 2;
}

.homeSection h1{
    font-weight: bolder;
    color:rgb(247, 241, 241);
    margin: 15px 12px;
    transition: all .3s;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    
    animation-name: homeheading;
    animation-duration: 4s;
  
    animation-timing-function: ease-in;
  
}
@keyframes homeheading{

    0%{
        
       
        color: rgba(117, 10, 10, 0.363);
    }
    15%{
        position: relative;
       
        color: rgba(61, 36, 36, 0.363);
    }
   
    100%{
      
        color: rgb(5, 201, 70);
    }
}

.homeSection h1 span{
    color: rgb(0, 255, 34);
    margin: 17px 0;
}

.homeSection button{
    border: 1px solid rgb(0, 255, 13);
    padding: 12px 28px;
    margin: 27px 0;
    color: white;
    background-color: rgba(0,0,0,.3);
    transition: all .3s;
    cursor: pointer;
}
.homeSection h1:hover{
    transform: translateY(-2px);
    text-shadow: 2px 2px 33px rgb(216, 13, 13);

}
.homeSection button:hover{
    
    border-radius: 6px;
    background-color: rgba(6, 219, 88, 0.68);
    box-shadow: 0 0 3px 3px rgba(14, 13, 13, 0.514);
    
}

/* services section */
.servicesSection{
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 0;
}

.servicesSection h1{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px rgb(41, 36, 36);
}

.servicesSection > p {
    text-shadow: 0 0 1px rgb(204, 186, 186);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.servicesSection span{
    color: red;
}

/* Cards */

.servicesCardsparent{
  
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding: 16px 16px;
   
    justify-content: center;
    /* background-color: rgba(144, 199, 201, 0.61); */
    box-shadow: inset 1px 1px 4px rgb(223, 217, 217);
}

.serviceCard{
    background-color: #0b699340;
    padding: 16px 16px;
    flex-basis: 20%;
    text-align: center;
    box-shadow: 1px 1px 3px 3px rgb(168, 163, 163);
    transition: all .8s;
}

@media only screen and (max-width:560px){
    .servicesCardsparent{

flex-direction: row;
    }
}

.serviceCard:hover{
    transform:translateY(-12px);
    background-color: #05202072;
}
.serviceCard img{
    height: 100px;
}
.serviceCard > h2,p{
    font-family:'Times New Roman', Times, serif;
    padding: 14px 8px;
}